{% extends "base.html" %}
{% block stylesheet %}
<style>
  /* https://stackoverflow.com/questions/33454016/change-font-family-in-datatable */
  .dataTables_wrapper {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 13px;
      clear: both;
  }

</style>
{% endblock %}

{% block content %}
<div class="table-responsive my-2 mx-1">

  <table id="data" width="100%" style="table-layout: fixed;"  class="table table-striped">
    <thead>
      <tr>
        <th>类别</th>
        <th>种子标题</th>
        <th>生成路径</th>
        <th>源站</th>
        <th>IMDb</th>
        <th>TMDb</th>
        <th>添加于</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
</div>

{% endblock %}

{% block script %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        language: {
                "info": "第 _START_ - _END_ 条 / 总 _TOTAL_ 条",
                "lengthMenu": "每页显示  _MENU_ 条",
                "search": "查找: ",
                "zeroRecords": "现在这里空空的",
                "infoEmpty": "没什么可说的",
                "paginate": {
                    // 'page': '直跳页号',
                    'first': '首页',
                    'previous': '前页',
                    'next': '后页',
                    'last': '最末页'
                }
          },
        ajax: '/api/data',
        "dom": `<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'f>>
            <'row'<'col-sm-12'tr>>
            <'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>`,        
        "pageLength": 25,
        autoWidth: true,
        scrollX: true,
        full_row_select: false,
        serverSide: true,
        order: [[6, 'desc']],
        columns: [
          {data: 'tmdbcat',
           "width": "4%" 
          },
          {data: 'torname',
          "width": "25%"
          },
          {data: 'location',
          "width": "30%" 
          },
          {data: 'torsite', searchable: false, 
            "width": "6%",
            "render": function ( data, type, row, meta ) {
              if (data) {
                return '<a href="'+data+'" target="_blank">'+row.torabbrev+'</a>';
              }
              else return ''
            }
          },
          {data: 'torimdb', orderable: false,
            "width": "8%",
            "render": function ( data, type, row, meta ) {
              if (data){
                return '<a href="https://www.imdb.com/title/'+data+'" target="_blank">'+data+'</a>';
              }
              else return ''
            }
          },
          {data: 'tmdbid', orderable: false,
            "width": "8%",
            "render": function ( data, type, row, meta ) {
              if (data){
                var s = row.tmdbcat + '/' + row.tmdbid;
                return '<a href="https://www.themoviedb.org/'+s+'" target="_blank">'+row.tmdbid+'</a>';
              }
              else return ''
            }
          },
          {data: 'addedon',
            "width": "14%",
          },
        ],
      });
    });
  </script>
{% endblock %}
