{% extends "base.html" %}

{% block content %}
<nav class="nav nav-tabs justify-content-center">
	<a class="nav-link " href="{{ url_for('setting') }}">torcp 参数设置</a>
	<a class="nav-link active" href="{{ url_for('qbitSetting') }}">qBittorrent 设置</a>
	<a class="nav-link " href="{{ url_for('editrcp') }}">rcp.sh 脚本编辑</a>
</nav>


<div class="row my-3 justify-content-center">
    <div class="col-6">
            {% if msg == 'success' %}
            <div class="alert alert-success" role="alert">
                设置成功 <a href="http://{{form.qbhost.data}}:{{form.qbport.data}}" target="_blank" class="alert-link"> 打开qBittorrent</a>. 检查设置
            </div>
            {% elif msg == 'failed' %}
            <div class="alert alert-danger" role="alert">
                出现错误，请检查参数
            </div>
            {% else %}
            {% endif %}
        <form method="post">
            <div class="form-group mb-3">
                {{form.qbhost.label(class='form-label')}} 
                {{ form.qbhost(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                {{form.qbport.label(class='form-label')}} 
                {{ form.qbport(class="form-control") }}
            </div> 
            <div class="form-group mb-3">
                {{form.qbuser.label(class='form-label')}} 
                {{ form.qbuser(class="form-control") }}
            </div> 
            <div class="form-group mb-3">
                {{form.qbpass.label(class='form-label')}} 
                {{ form.qbpass(class="form-control") }}
            </div> 
            {{form.qbapirun.label(class='form-check-label')}} 
            <div class="form-check mb-3">
                {% for subfield in form.qbapirun %}
                    <div class="form-group">
                        {{ subfield }}
                        {{ subfield.label }}
                    </div>
                {% endfor %}   
            </div> 
            <div class="form-group mb-3">
                {{form.dockerFrom.label(class='form-label')}} 
                {{ form.dockerFrom(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                {{form.dockerTo.label(class='form-label')}} 
                {{ form.dockerTo(class="form-control") }}
            </div> 


            {{form.submit(class='btn btn-primary')}}
        </form>
        
    </div>
</div>
{% endblock %}        