{% extends "base.html" %}

{% block content %}
<nav class="nav nav-tabs justify-content-center">
	<a class="nav-link active" href="{{ url_for('setting') }}">torcp 参数设置</a>
	<a class="nav-link" href="{{ url_for('qbitSetting') }}">qBittorrent 设置</a>
	<a class="nav-link" href="{{ url_for('editrcp') }}">rcp.sh 脚本编辑</a>
</nav>


<div class="row my-3 justify-content-center">
    <div class="col-6">
        {% if msg %}
        <div class="alert alert-success" role="alert">
            保存成功 
        </div>
        {% endif %}
        <form method="post">
            <div class="form-group mb-3">
                {{form.linkdir.label(class='form-label')}} 
                {{ form.linkdir(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                {{form.tmdb_key.label(class='form-label')}} 
                {{ form.tmdb_key(class="form-control") }}
            </div> 
            <div class="form-group mb-3">
                {{form.sep_lang.label(class='form-label')}} 
                {{ form.sep_lang(class="form-control") }}
            </div> 
            {{form.bracket.label(class='form-check-label')}} 
            <div class="form-check mb-3">
                {% for subfield in form.bracket %}
                    <div class="form-group">
                        {{ subfield }}
                        {{ subfield.label }}
                    </div>
                {% endfor %}   
            </div> 
            {{form.tmdb_lang.label(class='form-label')}} 
            <div class="form-check mb-3">
                {% for subfield in form.tmdb_lang %}
                <div class="form-group">
                    {{ subfield }}
                    {{ subfield.label }}
                </div>
                {% endfor %}   
            </div> 
            {{form.submit(class='btn btn-primary')}}
        </form>
        
    </div>
</div>
{% endblock %}        